.caja-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-carrito {
    width: 30vh;
    height: 30vh;
}

.carrito-button,
.bmodal-close-button {
    width: 12vh;
    height: 4vh;
    border-radius: 5%;
    background-color: white;
    margin-top: 0px;
}


.boton-carritomodal,
.modal-close-button {
    width: 12vh;
    height: 4vh;
    border-radius: 5%;
    background-color: white;
    margin-top: 10vh; 
}

.carrito-button:hover,
.modal-close-button:hover{
    background-color: #f65c32;
    transition: all 0.5s ease-out;
}

.boton-carritomodal:hover {
    background-color: #bdf78a;
    transition: all 0.5s ease-out;
}


.carrito-eliminar{
    justify-content: center;
    margin: 2%;
    width: 22vh;
    height: 6vh;
    border-radius: 5%;
    background-color: white;
}


.carrito-eliminar:hover{
    background-color: #f58f60;
    transition: all 0.5s ease-out;
}