body {
  background-color: rgb(232, 255, 229); 
  margin: 0;
  padding: 0; 
}

.home-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.destacado-contenedor{
  background-color: rgb(255, 255, 255); 
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.destacado-contenedor-inferior{
  background-color: rgb(255, 255, 255); 
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10vh;
}
.titulo-destacado {
  position: absolute;
  text-align: center;
  margin: 0;
  font-weight: lighter; 
  font-size: medium; 
  color: gray;
  z-index: 2;
  margin-top: 2%;
}

.modo-nocturno body {
  background-color: rgb(196, 195, 195); 
}

