body {
    background-color: rgb(232, 255, 229); 
    margin: 0;
    padding: 0; 
  }
  
  .login-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white; 
  }
